<!-- include header -->
<%- include('include/_header') %>
    <!-- /include header -->

    <div class="w-100" id="register-account">
        <div class="">
            <p class="addUserHeader text-center mb-3">ADD USER</p>
        </div>

            <form action="/api/users" class="needs-validation" method="POST" id="admin_adduser" required>
                <div class="col">

                    <p class="addUserHeader">PERSONAL INFORMATION</p>
                    <div class="mb-4">
                        <div class="d-inline-flex w-100 ml-1">
                            <div class="form-group col-sm-3">
                                <label for="firstname" class="font-weight-bold ">FIRSTNAME</label>
                                <input type="text" name="firstname" value="" class="form-control text-capitalize" id="firstname" required>
                            </div>
    
                            <div class="form-group col-sm-3">
                                <label for="middlename" class="font-weight-bold">MIDDLENAME</label>
                                <input type="text" name="middlename" value="" class="form-control text-capitalize" id="middlename" required>
                            </div>
    
                            <div class="form-group col-md-3">
                                <label for="surname" class="font-weight-bold">SURNAME</label>
                                <input type="text" name="surname" value="" class="form-control text-capitalize" id="surname" required>
                            </div>
    
                            <div class="form-group col-md-3">
                                <label for="userID" class="font-weight-bold">STUDENT/EMPLOYEE ID</label>
                                <input type="text" name="userID" value="" class="form-control" id="userID" required>
                            </div>
                        </div>
                        <div class="d-inline-flex w-100 ml-1">
                            <div class="form-group col-sm-3">
                                <label for="contactno" class="font-weight-bold">CONTACT NUMBER</label>
                                <input type="text" name="contactNo" value="" class="form-control" id="contactNo" required>
                            </div>
    
                            <div class="form-group col-sm-3">
                                <label for="emailAddress" class="font-weight-bold">EMAIL</label>
                                <input type="text" name="email" value="" class="form-control" id="email" required>
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="username" class="font-weight-bold">USERNAME</label>
                                <input type="text" name="username" value="" class="form-control" id="username" required>
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="password" class="font-weight-bold">PASSWORD</label>
                                <input type="password" name="password" value="" class="form-control" id="password" required>
                            </div>
                        </div>
                        <div class="d-inline-flex w-100 ml-1">
                            <div class="form-group col-sm-9">
                                <label for="address" class="font-weight-bold">ADDRESS</label>
                                <input type="text" name="address" value="" class="form-control text-capitalize" id="address" required>
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="password" class="font-weight-bold">CATEGORY</label>
                                <select class="form-control mb-2" name="category" value="" id="select" placeholder="CATEGORY" required>
                                    <option></option>
                                    <option>STUDENT</option>
                                    <option>EMPLOYEE</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex">
                        <p class="addUserHeader">LICENSE DETAILS</p>
                    </div>
                    <div class="mb-4">
                        <div class="d-inline-flex w-100 ml-1">
                            <div class="form-group col-sm-3">
                                <label for="DriversLicenseNo" class="font-weight-bold">DRIVERS LICENSE NUMBER</label>
                                <input type="text" name="driversLicenseNo" value="" class="form-control"
                                    id="driversLicenseNo" required>
                            </div>
    
                            <div class="form-group col-sm-3">
                                <label for="DriversLicenseExpiry" class="font-weight-bold">DRIVERS LICENSE
                                    EXPIRY</label>
                                <div class="form-row">
                                    <div class="form-group col-sm-4">
                                        <select class="form-control" name="licenseExpiryMonth" value=""
                                        id="select" placeholder="month" required>
                                            <option></option>
                                            <option value="Jan.">Jan.</option>
                                            <option value="Feb.">Feb.</option>
                                            <option value="Mar.">Mar.</option>
                                            <option value="Apr.">Apr.</option>
                                            <option value="May">May </option>
                                            <option value="Jun.">Jun.</option>
                                            <option value="Jul.">Jul.</option>
                                            <option value="Aug.">Aug.</option>
                                            <option value="Sep.">Sep.</option>
                                            <option value="Oct.">Oct.</option>
                                            <option value="Nov.">Nov.</option>
                                            <option value="Dec.">Dec.</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <select class="form-control" name="licenseExpiryDate" value=""
                                        id="select" placeholder="Date" required>
                                            <option></option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="28">28</option>
                                            <option value="29">29</option>
                                            <option value="30">30</option>
                                            <option value="31">31</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <select class="form-control" name="licenseExpiryYear" value=""
                                        id="select" placeholder="Year" required>
                                            <option></option>
                                            <option value="2021">2021</option>
                                            <option value="2022">2022</option>
                                            <option value="2023">2023</option>
                                            <option value="2024">2024</option>
                                            <option value="2025">2025</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
    
                            <div class="form-group col-sm-3">
                                <label for="licenseType" class="font-weight-bold">TYPE</label>
                                <select class="form-control" name="licenseType" value="" id="select" required>
                                    <option></option>
                                    <option value="Student Permit">Student Permit</option>
                                    <option value="Non-Professional">Non-Professional</option>
                                    <option value="Professional">Professional</option>
                                </select>
    
                            </div>
                            <div class="form-group col-sm-3">
                                <label class="font-weight-bold">DOCUMENTS</label><br>
                                <button type="button" class="btn btn-default btn-sm" name="licenseDocu"></button><i
                                    class="fas fa-paperclip"></i></button>
                                <button type="button" class="btn btn-default btn-sm "></button><i
                                    class="fas fa-paperclip"></i></button>
                            </div>
                        </div>
                    </div>

                    <p class="addUserHeader">VEHICLES</p>
                    <div class="mb-4">
                        <div class="d-inline-flex w-100 ml-1">
                            <div class="form-group col-sm-3">
                                <label class="font-weight-bold">PLATE NUMBER</label>
                                <input type="text" name="plateNo" value="" class="form-control" id="plateNo" required>
                            </div>

                            <div class="col-sm-3">
                                <label class="font-weight-bold">VEHICLE REGISTRATION NO.</label>
                                <input type="text" name="vehicleRegistrationNo" value="" class="form-control"
                                    id="vehicleRegistrationNo" required>
                            </div>

                            <div class="col-sm-3">
                                <label class="font-weight-bold">EXPIRY DATE</label>
                                <div class="form-row">
                                    <div class="form-group col-sm-4">
                                        <select class="form-control" name="vehicleExpiryMonth" value=""
                                        id="select" placeholder="month" required>
                                            <option></option>
                                            <option value="Jan.">Jan.</option>
                                            <option value="Feb.">Feb.</option>
                                            <option value="Mar.">Mar.</option>
                                            <option value="Apr.">Apr.</option>
                                            <option value="May">May </option>
                                            <option value="Jun.">Jun.</option>
                                            <option value="Jul.">Jul.</option>
                                            <option value="Aug.">Aug.</option>
                                            <option value="Sep.">Sep.</option>
                                            <option value="Oct.">Oct.</option>
                                            <option value="Nov.">Nov.</option>
                                            <option value="Dec.">Dec.</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <select class="form-control" name="vehicleExpiryDate" value=""
                                        id="select" placeholder="Date" required>
                                        <option></option>
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <select class="form-control" name="vehicleExpiryYear" value=""
                                        id="select" placeholder="Year" required>
                                            <option></option>
                                            <option value="2021">2021</option>
                                            <option value="2022">2022</option>
                                            <option value="2023">2023</option>
                                            <option value="2024">2024</option>
                                            <option value="2024">2025</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label class="font-weight-bold">DOCUMENTS</label><br>
                                <button type="button" class="btn btn-default btn-sm " name="vehicleRegistrationDocu"></button><i
                                    class="fas fa-paperclip"></i></button>
                                <button type="button" class="btn btn-default btn-sm "></button><i
                                    class="fas fa-paperclip"></i></button>
                            </div>
                        </div>

                        <div class="d-inline-flex w-100 ml-1 mb-3">
                            <div class="col-sm-3">
                                <label class="font-weight-bold">TYPE</label>
                                <input type="text" name="vehicleType" value="" class="form-control" id="vehicleType" required>
                            </div>
                            <div class="col-sm-3">
                                <label class="font-weight-bold">MODEL</label>
                                <input type="text" name="vehicleModel" value="" class="form-control" id="vehicleModel" required>
                            </div>
                            <div class="col-sm-3">
                                <label class="font-weight-bold">COLOR</label>
                                <input type="text" name="vehicleColor" value="" class="form-control" id="vehicleColor" required>
                            </div>
                            <div class="col-sm-3">
                                <label class="font-weight-bold">RFID</label><br>
                                <input type="text" name="RFID" value="" class="form-control" id="RFID" required>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" id="addUserButton">SUBMIT</button>
                    <button type="button" class="btn btn-danger" id="addUserButton" onclick="javascript:window.history.back();">CANCEL</button>
                </div>
            </form>
    </div>

    <!-- include footer -->
    <%- include('include/_footer') %>
        <!-- /include footer -->