<!-- include header -->
<%- include('include/_header') %>
  <!-- /include header -->

  <div class="wholeContainer" id="userRecords">

    <form class="needs-validation" id="admin_adduser" required>
      <div class="col">
        <div id="profile" class="">
          <h4 class="text-center">USER RECORDS</h4>
          <input type="hidden" value="<%= users._id %>" name="id">
          <div class="card border border-primary p-4 mb-3">
            <div class="d-flex">
              <h4>PERSONAL INFORMATION</h4>
              <div class="form-group col-sm-9 text-right">
                <a href="/user-update?id=<%= users._id%>" class="btn btn-primary btn-sm" >EDIT</a>
              </div>
            </div>

            <div class="d-inline-flex w-100 ml-1 ">
              <div class="form-group col-sm-3">
                <label for="firstname" class="font-weight-bold">FIRSTNAME</label>
                <input type="text" class="form-control-plaintext  text-capitalize" readonly value="<%= users.firstname %>" required>
              </div>
  
              <div class="form-group col-sm-3">
                <label for="middlename" class="font-weight-bold">MIDDLENAME</label>
                <input type="text" class="form-control-plaintext  text-capitalize" readonly value="<%= users.middlename %>" required>
              </div>
  
              <div class="form-group col-md-3">
                <label for="surname" class="font-weight-bold">SURNAME</label>
                <input type="text" class="form-control-plaintext  text-capitalize" readonly value="<%= users.surname %>" required>
              </div>
  
              <div class="form-group col-md-3">
                <label for="userID" class="font-weight-bold">USER ID</label>
                <input type="text" class="form-control-plaintext" readonly value="<%= users.userID %>" required>
              </div>
            </div>

            <div class="d-inline-flex w-100 ml-1">
              <div class="form-group col-md-3">
                <label for="contactno" class="font-weight-bold">CONTACT NUMBER</label>
                <input type="text" class="form-control-plaintext" readonly value="<%= users.contactNo %>" required>
              </div>
  
              <div class="form-group col-md-3">
                <label for="emailAddress" class="font-weight-bold">EMAIL ADDRESS</label>
                <input type="text" class="form-control-plaintext" readonly value="<%= users.email %>" required>
              </div>
  
              <div class="form-group col-md-3">
                <label for="contactno" class="font-weight-bold">USERNAME</label>
                <input type="text" class="form-control-plaintext" readonly value="<%= users.username %>" required>
              </div>
  
              <div class="form-group col-md-3">
                <label for="contactno" class="font-weight-bold">PASSWORD</label>
                <input type="password" class="form-control-plaintext" readonly value="<%= users.password %>" required>
              </div>
            </div>

            <div class="d-inline-flex w-100 ml-1">
              <div class="form-group col-sm-9">
                <label for="address" class="font-weight-bold" >ADDRESS</label>
                <input type="text" class="form-control-plaintext  text-capitalize" readonly value="<%= users.address %>" required>
              </div>
              <div class="form-group col-sm-3">
                <label for="password" class="font-weight-bold">CATEGORY</label>
                <select class="form-control-plaintext mb-2" readonly name="category" value="" id="select" placeholder="CATEGORY"
                  required>
                  <option></option>
                  <option value="STUDENT" <%= users.category=='STUDENT' ? 'selected' : '' %>>STUDENT</option>
                  <option value="EMPLOYEE" <%= users.category=='EMPLOYEE' ? 'selected' : '' %>>EMPLOYEE</option>
                </select>
              </div>
            </div>
          </div>

          <div class="card border border-primary p-4 mb-3">
            <div class="d-flex">
              <h4>LICENSE DETAILS</h4>
              <div class="form-group col-sm-10 text-right">
                  <a href="/user-update-license?id=<%= users._id%>" class="btn btn-primary btn-sm" >EDIT</a>
              </div>
            </div>

            <div class="d-inline-flex w-100 ml-1">
              <div class="form-group col-sm-3">
                <label for="DriversLicenseNo" class="font-weight-bold">DRIVERS LICENSE NUMBER</label>
                <input type="text" class="form-control-plaintext" readonly value="<%= users.driversLicenseNo %>" required>
              </div>
              <div class="form-group col-sm-3">
                <label for="DriversLicenseExpiry" class="font-weight-bold">DRIVERS LICENSE EXPIRY</label>
                <div class="form-row">
                  <div class="for-group col-sm-3">
                    <select class="form-control-plaintext mb-2" readonly name="licenseExpiryMonth" placeholder="month"
                      id="select" required>
                      <option></option>
                      <option value="Jan." <%=users.licenseExpiryMonth=='Jan.' ? 'selected' : '' %>>Jan.</option>
                      <option value="Feb." <%=users.licenseExpiryMonth=='Feb.' ? 'selected' : '' %>>Feb.</option>
                      <option value="Mar." <%=users.licenseExpiryMonth=='Mar.' ? 'selected' : '' %>>Mar.</option>
                      <option value="Apr." <%=users.licenseExpiryMonth=='Apr.' ? 'selected' : '' %>>Apr.</option>
                      <option value="May" <%=users.licenseExpiryMonth=='May' ? 'selected' : '' %>>May </option>
                      <option value="Jun." <%=users.licenseExpiryMonth=='Jun.' ? 'selected' : '' %>>Jun.</option>
                      <option value="Jul." <%=users.licenseExpiryMonth=='Jul.' ? 'selected' : '' %>>Jul.</option>
                      <option value="Aug." <%=users.licenseExpiryMonth=='Aug.' ? 'selected' : '' %>>Aug.</option>
                      <option value="Sep." <%=users.licenseExpiryMonth=='Sep.' ? 'selected' : '' %>>Sep.</option>
                      <option value="Oct." <%=users.licenseExpiryMonth=='Oct.' ? 'selected' : '' %>>Oct.</option>
                      <option value="Nov." <%=users.licenseExpiryMonth=='Nov.' ? 'selected' : '' %>>Nov.</option>
                      <option value="Dec." <%=users.licenseExpiryMonth=='Dec.' ? 'selected' : '' %>>Dec.</option>
                    </select>
                  </div>
                  <div class="form-group col-sm-3">
                    <select class="form-control-plaintext mb-2" readonly name="licenseExpiryDate" placeholder="Date"
                      id="select" required>
                      <option></option>
                      <option value="01" <%=users.licenseExpiryDate=='01' ? 'selected' : '' %>>01</option>
                      <option value="02" <%=users.licenseExpiryDate=='02' ? 'selected' : '' %>>02</option>
                      <option value="03" <%=users.licenseExpiryDate=='03' ? 'selected' : '' %>>03</option>
                      <option value="04" <%=users.licenseExpiryDate=='04' ? 'selected' : '' %>>04</option>
                      <option value="05" <%=users.licenseExpiryDate=='05' ? 'selected' : '' %>>05</option>
                      <option value="06" <%=users.licenseExpiryDate=='06' ? 'selected' : '' %>>06</option>
                      <option value="07" <%=users.licenseExpiryDate=='07' ? 'selected' : '' %>>07</option>
                      <option value="08" <%=users.licenseExpiryDate=='08' ? 'selected' : '' %>>08</option>
                      <option value="09" <%=users.licenseExpiryDate=='09' ? 'selected' : '' %>>09</option>
                      <option value="10" <%=users.licenseExpiryDate=='10' ? 'selected' : '' %>>10</option>
                      <option value="11" <%=users.licenseExpiryDate=='11' ? 'selected' : '' %>>11</option>
                      <option value="12" <%=users.licenseExpiryDate=='12' ? 'selected' : '' %>>12</option>
                      <option value="13" <%=users.licenseExpiryDate=='13' ? 'selected' : '' %>>13</option>
                      <option value="14" <%=users.licenseExpiryDate=='14' ? 'selected' : '' %>>14</option>
                      <option value="15" <%=users.licenseExpiryDate=='15' ? 'selected' : '' %>>15</option>
                      <option value="16" <%=users.licenseExpiryDate=='16' ? 'selected' : '' %>>16</option>
                      <option value="17" <%=users.licenseExpiryDate=='17' ? 'selected' : '' %>>17</option>
                      <option value="18" <%=users.licenseExpiryDate=='18' ? 'selected' : '' %>>18</option>
                      <option value="19" <%=users.licenseExpiryDate=='19' ? 'selected' : '' %>>19</option>
                      <option value="20" <%=users.licenseExpiryDate=='20' ? 'selected' : '' %>>20</option>
                      <option value="21" <%=users.licenseExpiryDate=='21' ? 'selected' : '' %>>21</option>
                      <option value="22" <%=users.licenseExpiryDate=='22' ? 'selected' : '' %>>22</option>
                      <option value="23" <%=users.licenseExpiryDate=='23' ? 'selected' : '' %>>23</option>
                      <option value="24" <%=users.licenseExpiryDate=='24' ? 'selected' : '' %>>24</option>
                      <option value="25" <%=users.licenseExpiryDate=='25' ? 'selected' : '' %>>25</option>
                      <option value="26" <%=users.licenseExpiryDate=='26' ? 'selected' : '' %>>26</option>
                      <option value="27" <%=users.licenseExpiryDate=='27' ? 'selected' : '' %>>27</option>
                      <option value="28" <%=users.licenseExpiryDate=='28' ? 'selected' : '' %>>28</option>
                      <option value="29" <%=users.licenseExpiryDate=='29' ? 'selected' : '' %>>29</option>
                      <option value="30" <%=users.licenseExpiryDate=='30' ? 'selected' : '' %>>30</option>
                      <option value="31" <%=users.licenseExpiryDate=='31' ? 'selected' : '' %>>31</option>
                    </select>
                  </div>
                  <div class="form-group col-sm-3">
                    <select class="form-control-plaintext mb-2" readonly name="eventStartYear" placeholder="Year"
                      id="select" required> 
                      <option></option>
                      <option value="2021" <%=users.licenseExpiryYear=='2021' ? 'selected' : '' %>>2021</option>
                      <option value="2022" <%=users.licenseExpiryYear=='2022' ? 'selected' : '' %>>2022</option>
                      <option value="2023" <%=users.licenseExpiryYear=='2023' ? 'selected' : '' %>>2023</option>
                      <option value="2024" <%=users.licenseExpiryYear=='2024' ? 'selected' : '' %>>2024</option>
                      <option value="2025" <%=users.licenseExpiryYear=='2025' ? 'selected' : '' %>>2025</option>
                    </select>
                  </div>
                </div>
              </div>
  
              <div class="form-group col-sm-3">
                <label for="licenseType" class="font-weight-bold">TYPE</label>
                <input type="text" class="form-control-plaintext" readonly value="<%= users.licenseType %>" required>
              </div>
  
              <div class="form-group col-sm-3">
                <label for="attachedoc" class="font-weight-bold">ATTACHED DOCUMENT</label><br>
                <button type="button" class="btn btn-default btn-sm "></button><i class="fas fa-paperclip"></i></button>
                <button type="button" class="btn btn-default btn-sm "></button><i class="fas fa-paperclip"></i></button>
              </div>
            </div>
          </div>

          
          <div class=" w-100 mb-3">
              <div class="card border border-primary w-100 p-4">
                <div class="vehicle">
                  <div class="d-flex">
                    <h4>VEHICLES</h4>
                    <div class="form-group col-sm-11 text-right">
                      <p class="h5 text-right"><span class="badge badge-success p-2">ACTIVE</span> 
                        <a href="/user-update-vehicle?id=<%= users._id%>" class="btn btn-primary btn-sm" >EDIT</a></p>
                    </div>
                  </div>
                  
                  <div class="mb-4">
                    <div class="d-inline-flex w-100 ml-1">
                        <div class="form-group col-sm-3">
                            <label class="font-weight-bold">PLATE NUMBER</label>
                            <input type="text" name="plateNo" value=" <%= users.plateNo %>" class="form-control-plaintext" readonly id="plateNo"
                                required>
                        </div>
        
                        <div class="col-sm-3">
                            <label class="font-weight-bold">VEHICLE REGISTRATION NO.</label>
                            <input type="text" name="vehicleRegistrationNo" value=" <%= users.vehicleRegistrationNo %>"
                                class="form-control-plaintext" readonly id="vehicleRegistrationNo" required>
                        </div>
        
                        <div class="col-sm-3">
                            <label class="font-weight-bold">EXPIRY DATE</label>
                            <div class="form-row">
                                <div class="form-group col-sm-4">
                                    <select class="form-control-plaintext" readonly name="vehicleExpiryMonth" value="" id="select"
                                        placeholder="month" required>
                                        <option></option>
                                        <option value="Jan." <%=users.vehicleExpiryMonth=='Jan.' ? 'selected' : '' %>>Jan.
                                        </option>
                                        <option value="Feb." <%=users.vehicleExpiryMonth=='Feb.' ? 'selected' : '' %>>Feb.
                                        </option>
                                        <option value="Mar." <%=users.vehicleExpiryMonth=='Mar.' ? 'selected' : '' %>>Mar.
                                        </option>
                                        <option value="Apr." <%=users.vehicleExpiryMonth=='Apr.' ? 'selected' : '' %>>Apr.
                                        </option>
                                        <option value="May" <%=users.vehicleExpiryMonth=='May' ? 'selected' : '' %>>May
                                        </option>
                                        <option value="Jun." <%=users.vehicleExpiryMonth=='Jun.' ? 'selected' : '' %>>Jun.
                                        </option>
                                        <option value="Jul." <%=users.vehicleExpiryMonth=='Jul.' ? 'selected' : '' %>>Jul.
                                        </option>
                                        <option value="Aug." <%=users.vehicleExpiryMonth=='Aug.' ? 'selected' : '' %>>Aug.
                                        </option>
                                        <option value="Sep." <%=users.vehicleExpiryMonth=='Sep.' ? 'selected' : '' %>>Sep.
                                        </option>
                                        <option value="Oct." <%=users.vehicleExpiryMonth=='Oct.' ? 'selected' : '' %>>Oct.
                                        </option>
                                        <option value="Nov." <%=users.vehicleExpiryMonth=='Nov.' ? 'selected' : '' %>>Nov.
                                        </option>
                                        <option value="Dec." <%=users.vehicleExpiryMonth=='Dec.' ? 'selected' : '' %>>Dec.
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-4">
                                    <select class="form-control-plaintext" readonly name="vehicleExpiryDate" value="" id="select"
                                        placeholder="Date" required>
                                        <option></option>
                                        <option value="01" <%=users.vehicleExpiryDate=='01' ? 'selected' : '' %>>01</option>
                                        <option value="02" <%=users.vehicleExpiryDate=='02' ? 'selected' : '' %>>02</option>
                                        <option value="03" <%=users.vehicleExpiryDate=='03' ? 'selected' : '' %>>03</option>
                                        <option value="04" <%=users.vehicleExpiryDate=='04' ? 'selected' : '' %>>04</option>
                                        <option value="05" <%=users.vehicleExpiryDate=='05' ? 'selected' : '' %>>05</option>
                                        <option value="06" <%=users.vehicleExpiryDate=='06' ? 'selected' : '' %>>06</option>
                                        <option value="07" <%=users.vehicleExpiryDate=='07' ? 'selected' : '' %>>07</option>
                                        <option value="08" <%=users.vehicleExpiryDate=='08' ? 'selected' : '' %>>08</option>
                                        <option value="09" <%=users.vehicleExpiryDate=='09' ? 'selected' : '' %>>09</option>
                                        <option value="10" <%=users.vehicleExpiryDate=='10' ? 'selected' : '' %>>10</option>
                                        <option value="11" <%=users.vehicleExpiryDate=='11' ? 'selected' : '' %>>11</option>
                                        <option value="12" <%=users.vehicleExpiryDate=='12' ? 'selected' : '' %>>12</option>
                                        <option value="13" <%=users.vehicleExpiryDate=='13' ? 'selected' : '' %>>13</option>
                                        <option value="14" <%=users.vehicleExpiryDate=='14' ? 'selected' : '' %>>14</option>
                                        <option value="15" <%=users.vehicleExpiryDate=='15' ? 'selected' : '' %>>15</option>
                                        <option value="16" <%=users.vehicleExpiryDate=='16' ? 'selected' : '' %>>16</option>
                                        <option value="17" <%=users.vehicleExpiryDate=='17' ? 'selected' : '' %>>17</option>
                                        <option value="18" <%=users.vehicleExpiryDate=='18' ? 'selected' : '' %>>18</option>
                                        <option value="19" <%=users.vehicleExpiryDate=='19' ? 'selected' : '' %>>19</option>
                                        <option value="20" <%=users.vehicleExpiryDate=='20' ? 'selected' : '' %>>20</option>
                                        <option value="21" <%=users.vehicleExpiryDate=='21' ? 'selected' : '' %>>21</option>
                                        <option value="22" <%=users.vehicleExpiryDate=='22' ? 'selected' : '' %>>22</option>
                                        <option value="23" <%=users.vehicleExpiryDate=='23' ? 'selected' : '' %>>23</option>
                                        <option value="24" <%=users.vehicleExpiryDate=='24' ? 'selected' : '' %>>24</option>
                                        <option value="25" <%=users.vehicleExpiryDate=='25' ? 'selected' : '' %>>25</option>
                                        <option value="26" <%=users.vehicleExpiryDate=='26' ? 'selected' : '' %>>26</option>
                                        <option value="27" <%=users.vehicleExpiryDate=='27' ? 'selected' : '' %>>27</option>
                                        <option value="28" <%=users.vehicleExpiryDate=='28' ? 'selected' : '' %>>28</option>
                                        <option value="29" <%=users.vehicleExpiryDate=='29' ? 'selected' : '' %>>29</option>
                                        <option value="30" <%=users.vehicleExpiryDate=='30' ? 'selected' : '' %>>30</option>
                                        <option value="31" <%=users.vehicleExpiryDate=='31' ? 'selected' : '' %>>31</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-4">
                                    <select class="form-control-plaintext" readonly name="vehicleExpiryYear" value="" id="select"
                                        placeholder="Year" required>
                                        <option></option>
                                        <option value="2021" <%=users.vehicleExpiryYear=='2021' ? 'selected' : '' %>>2021
                                        </option>
                                        <option value="2022" <%=users.vehicleExpiryYear=='2022' ? 'selected' : '' %>>2022
                                        </option>
                                        <option value="2023" <%=users.vehicleExpiryYear=='2023' ? 'selected' : '' %>>2023
                                        </option>
                                        <option value="2024" <%=users.vehicleExpiryYear=='2024' ? 'selected' : '' %>>2024
                                        </option>
                                        <option value="2024" <%=users.vehicleExpiryYear=='2025' ? 'selected' : '' %>>2025
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label class="font-weight-bold">DOCUMENTS</label><br>
                            <button type="button" class="btn btn-default btn-sm " name="vehicleRegistrationDocu"></button><i
                                class="fas fa-paperclip"></i></button>
                            <button type="button" class="btn btn-default btn-sm "></button><i
                                class="fas fa-paperclip"></i></button>
                        </div>
                    </div>
        
                    <div class="d-inline-flex w-100 ml-1 mb-3">
                        <div class="col-sm-3">
                            <label class="font-weight-bold">TYPE</label>
                            <input type="text" name="vehicleType" value="<%= users.vehicleType %>" class="form-control-plaintext" readonly
                                id="vehicleType" required>
                        </div>
                        <div class="col-sm-3">
                            <label class="font-weight-bold">MODEL</label>
                            <input type="text" name="vehicleModel" value="<%= users.vehicleModel %>" class="form-control-plaintext" readonly
                                id="vehicleModel" required>
                        </div>
                        <div class="col-sm-3">
                            <label class="font-weight-bold">COLOR</label>
                            <input type="text" name="vehicleColor" value="<%= users.vehicleColor %>" class="form-control-plaintext" readonly
                                id="vehicleColor" required>
                        </div>
                        <div class="col-sm-3">
                            <label class="font-weight-bold">RFID No.</label><br>
                            <input type="text" name="RFID" value="<%= users.RFID %>" class="form-control-plaintext" readonly id="RFID" required>
                        </div>
                    </div>
                </div>
                  
              </div>
            
          </div>


        </div>

      </div>

      <div class="" id="licenseHistoryModal">
        <div class="card border border-primary mt-5 p-5 w-50 licenseHistory">
          <p class="h4 text-center">LICENSE HISTORY</p>
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th scope="col">DATE</th>
                <th scope="col">TIME</th>
                <th scope="col">ACTIVITY</th>
                <th scope="col">STATUS</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>5-10-24</td>
                <td>5:00 AM</td>
                <td>INTRAMS</td>
                <td>ACTIVE</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-success" id="" onclick="licenseHistoryModalOk()"> OK </button>
        </div>
      </div>

      <div class="" id="deactivateModal">
        <div class="w-25 p-5 deactivateModal">
          <p class="h6 text-center">DEACTIVATE USER VEHICLE</p>
          <p class="h4 text-center">ABC 123</p>
          <p class="h6 text-center">SHERYL MONSERRAT</p>
          <div class="form-group mb-3 mx-auto">
            <p class="">REMARKS: </p>
            <input type="password" class="form-control" id="confirmPassword" placeholder="">
          </div>

          <div class="eventButton text-center">
            <button type="button" class="btn btn-success" id="submitEvent" onclick="addEventConfirm()"> SUBMIT </button>
            <button type="button" class="btn btn-danger" id="cancelEvent" onclick="deactivateModalCancel()"> CANCEL
            </button>
          </div>
        </div>
      </div>

      <script src="js/javascript.js"></script>
    </form>
  </div>

  <!-- include footer -->
  <%- include('include/_footer') %>
    <!-- /include footer -->