<!-- include header -->
<%- include('include/_header') %>
    <!-- /include header -->

    <form method="POST" class="needs-validation" id="updatePersonalInfo">
        <input type="hidden" value="<%= user._id %>" name="id" required>
        <div id="" class="">
            <div class="modal-header">
                <p class="profileTopHeader">PERSONAL INFORMATION</p>
            </div>

            <div class="modal-body">
                <form>

                    <div class="d-inline-flex w-100">
                        <div class="form-group col-md-3">
                            <label for="firstname" class="font-weight-bold">FIRSTNAME</label>
                            <input type="text" class="form-control" name="firstname" value="<%=user.firstname %>"
                                required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="middlename" class="font-weight-bold">MIDDLENAME</label>
                            <input type="text" class="form-control" name="middlename" value="<%=user.middlename %>"
                                required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="surname" class="font-weight-bold">SURNAME</label>
                            <input type="text" class="form-control" name="surname" value="<%=user.surname %>"
                                required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="contactno" class="font-weight-bold">CONTACT NUMBER</label>
                            <input type="text" class="form-control" name="contactNo" value="<%=user.contactNo %>"
                                required>
                        </div>
                    </div>

                    <div class="d-inline-flex w-100">
                        <div class="form-group col-md-3">
                            <label for="emailAddress" class="font-weight-bold">EMAIL ADDRESS</label>
                            <input type="text" class="form-control" name="email" value="<%=user.email %>" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="address" class="font-weight-bold" >ADDRESS</label>
                            <input type="text" class="form-control" name="address"
                                value=" <%= user.address %>" required>
                        </div>
                    </div>
                </form>

            </div>

            <div class="modal-footer text-center">
                <button type="submit" class="btn btn-success">SUBMIT</button>
                <button type="button" class="btn btn-danger" id="profileButton"
                    onclick="javascript:window.history.back();">CANCEL</button>
            </div>

        </div>
    </form>



    <!-- include footer -->
    <%- include('include/_footer') %>
        <!-- /include footer -->