<!-- include header -->
<%- include('include/_header') %>
    <!-- /include header -->

    <form class="needs-validation p-4" method="POST" id="updateUserPersonalInfo" required>
        <input type="hidden" value="<%=users._id %>" name="id" required>
        <p class="addUserHeader">PERSONAL INFORMATION</p>
        <div class="mb-4">
            <div class="d-inline-flex w-100 ml-1">
                <div class="form-group col-sm-3">
                    <label for="firstname" class="font-weight-bold">FIRSTNAME</label>
                    <input type="text" name="firstname" class="form-control" id="firstname" value="<%=users.firstname%>" required>
                </div>

                <div class="form-group col-sm-3">
                    <label for="middlename" class="font-weight-bold">MIDDLENAME</label>
                    <input type="text" name="middlename" class="form-control" id="middlename" value="<%=users.middlename%>" required>
                </div>

                <div class="form-group col-md-3">
                    <label for="surname" class="font-weight-bold">SURNAME</label>
                    <input type="text" name="surname" class="form-control" id="surname" value="<%=users.surname%>" required>
                </div>

                <div class="form-group col-md-3">
                    <label for="userID" class="font-weight-bold">STUDENT/EMPLOYEE ID</label>
                    <input type="text" name="userID" class="form-control" id="userID" value="<%=users.userID %>" required>
                </div>
            </div>
            <div class="d-inline-flex w-100 ml-1">
                <div class="form-group col-sm-3">
                    <label for="contactno" class="font-weight-bold">CONTACT NUMBER</label>
                    <input type="text" name="contactNo" class="form-control" id="contactNo" value="<%=users.contactNo %>" required>
                </div>

                <div class="form-group col-sm-3">
                    <label for="emailAddress" class="font-weight-bold">EMAIL</label>
                    <input type="text" name="email" class="form-control" id="email" value="<%=users.email %>" required>
                </div>
                <div class="form-group col-sm-3">
                    <label for="username" class="font-weight-bold">USERNAME</label>
                    <input type="text" name="username" class="form-control" id="username" value="<%=users.username %>" required>
                </div>
                <div class="form-group col-sm-3">
                    <label for="password" class="font-weight-bold">PASSWORD</label>
                    <div class="input-group-prepend">
                    <input type="password" name="password" class="form-control border-right-0" id="passwordInput" value="<%=users.password %>" required>
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white border-left-0" id="showPass"><svg class="eye1" id="eye1" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
                            <path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                        </svg></span>
                    </div>
                    </div>
                </div>
            </div>
            <div class="d-inline-flex w-100 ml-1">
                <div class="form-group col-sm-9">
                    <label for="address" class="font-weight-bold">ADDRESS</label>
                    <input type="text" name="address" class="form-control" id="address" value="<%=users.address %>" required>
                </div>
                <div class="form-group col-sm-3">
                    <label for="password" class="font-weight-bold">CATEGORY</label>
                    <select class="form-control mb-2" name="category" id="select" placeholder="CATEGORY" required>
                        <option></option>
                        <option value="STUDENT" <%= users.category =='STUDENT' ? 'selected' : '' %>>STUDENT</option>
                        <option value="EMPLOYEE" <%= users.category =='EMPLOYEE' ? 'selected' : '' %>>EMPLOYEE</option>
                    </select>
                </div>
            </div>
        </div>
        <div class=" mt-3 text-center">
            <button type="submit" class="btn btn-success"> SUBMIT </button>
            <button type="button" class="btn btn-danger" id="cancelEventButton" onclick="javascript:window.history.back();"> BACK </button>
        </div>
    </form>


    <!-- include footer -->
    <%- include('include/_footer') %>
        <!-- /include footer -->